$enable-touch:        false !default;
$enable-shadows:      true  !default;
$enable-rounded:      true  !default;
$enable-transitions:  true  !default;
$enable-print-styles: true  !default;
$enable-code:         true  !default;
$enable-grid-classes: true  !default;