// ONLY VARIABLES NOT INTENDED TO BE OVERRIDDEN SHOULD RESIDE HERE!

// region ///////////////////////////////////////////////////////////////  ZIndex Registry

$zindex: (
        ZINDEX_DROPDOWN_BACKDROP: 990,
        ZINDEX_NAVBAR: 1000,
        ZINDEX_DROPDOWN: 1000,
        ZINDEX_FIXED: 1030,
        ZINDEX_STICKY: 1030,
        ZINDEX_MODAL_BACKDROP: 1040,
        ZINDEX_MODAL: 1050,
        ZINDEX_POPOVER: 1060,
        ZINDEX_TOOLTIP: 1070
) !default;

// endregion ////////////////////////////////////////////////////////////  End ZIndex Registry

// region ///////////////////////////////////////////////////////////////  Utility Variables

$utility:
        xs,
        sm,
        md,
        lg,
        xl,
        touch,
        fallback,
        baseline,
        ios,
        android,
        print;

$display:
        none,
        block,
        flex,
        inline,
        inline-flex,
        inline-block;

// endregion ////////////////////////////////////////////////////////////  End Utility Variables

$CONSTANTS: () !global;
$CONSTANTS: map-merge($CONSTANTS, $zindex) !global;
$CONSTANTS: map-merge($CONSTANTS, (UTILITY: $utility)) !global;
$CONSTANTS: map-merge($CONSTANTS, (DISPLAY: $display)) !global;