// ONLY VARIABLES NOT INTENDED TO BE OVERRIDDEN SHOULD RESIDE HERE!

// region ///////////////////////////////////////////////////////////////  ZIndex Registry

$zindex: (
        ZINDEX_DROPDOWN_BACKDROP: 990,
        ZINDEX_NAVBAR: 1000,
        ZINDEX_DROPDOWN: 1000,
        ZINDEX_FIXED: 1030,
        ZINDEX_STICKY: 1030,
        ZINDEX_MODAL_BACKDROP: 1040,
        ZINDEX_MODAL: 1050,
        ZINDEX_POPOVER: 1060,
        ZINDEX_TOOLTIP: 1070
) !default;

// endregion ////////////////////////////////////////////////////////////  End ZIndex Registry

// region ///////////////////////////////////////////////////////////////   Sizing and Spacing

// Default Padding (in rem for modern browsers, px for baseline - based off $font-size-base)
$spacing: (
    lg:   (x: 1.14, y: 0.66),
    md:   (x: 1.00, y: 0.50),
    sm:   (x: 0.66, y: 0.35),
    xs:   (x: 0.35, y: 0.10)
          ) !default;

// endregion ////////////////////////////////////////////////////////////   End Sizing and Spacing

// region ///////////////////////////////////////////////////////////////   Features

$components: (
    "buttons": true,
    "card": true,
    "display": true,
    "flexbox": true,
    "grid": true,
    "icons": (
       "_enabled": true,
       "font": true,
       "svg": false,
       "font-awesome": true,
       "unicode": false,
    ),
    "print": true
             ) !default;


$theme: (
   "touch": false,
   "rounded": true,
   "shadows": true,
   "transitions": true,
        ) !default;

// endregion ////////////////////////////////////////////////////////////   End Features

// region ///////////////////////////////////////////////////////////////   Breakpoint & Grid


$grid-breakpoints: (
     xs: 0,
     sm: 576px,
     md: 768px,
     lg: 992px,
     xl: 1200px
                   ) !default;

$container-max-widths: (
     sm: 540px,
     md: 720px,
     lg: 960px,
     xl: 1140px
                       ) !default;

// endregion ////////////////////////////////////////////////////////////   End Breakpoint & Grid

// region ///////////////////////////////////////////////////////////////  Utility Variables

$utility:
        xs,
        sm,
        md,
        lg,
        xl,
        touch,
        fallback,
        baseline,
        ios,
        android,
        print;

$display:
        none,
        block,
        flex,
        inline,
        inline-flex,
        inline-block;

// endregion ////////////////////////////////////////////////////////////  End Utility Variables

$CONSTANTS: () !default;
$CONSTANTS: map-merge($CONSTANTS, $zindex);
$CONSTANTS: map-merge($CONSTANTS, (UTILITY: $utility));
$CONSTANTS: map-merge($CONSTANTS, (DISPLAY: $display));