
// region ///////////////////////////////////////////////////////////////   Map Functions

@function map-deep-get($map, $keys...) {
  @if type_of($map) == map {
    @each $key in $keys {
      @if type_of($map) == map {
        $map: map-get($map, $key);
      } @else {
        @warn ("Key #{$key} does not contain a map.");
      }
    }
  } @else {
    @warn ("Argument provided to map-deep-get is not a map!");
  }

  @return $map;
}

@function map-exists($map-name) {
  @if global-variable-exists($map-name) {
    @return false;
  }

  @return true;
}

@function map-get-next($map, $key, $fallback: false) {

  // Check if map is valid
  @if type_of($map) == map {

    // Check if key exists in map
    @if map_has_key($map, $key) {

      // Init index counter variable
      $i: 0;

      // Init key index
      $key-index: false;

      // Traverse map for key
      @each $map-key, $map-value in $map {
        // Update index
        $i: $i + 1;

        // If map key found, set key index
        @if $map-key == $key {
          $key-index: $i;
        }

        // If next index return next value
        @if $i == $key-index + 1 {
          @return $map-value;
        }

        // If last entry return false
        @if $i == length($map) {
          @return $fallback;
        }
      }

      @warn 'No next map item for key #{$key}';
      @return $fallback;
    }

    @warn 'No valid key #{$key} in map';
    @return $fallback;
  }

  @warn 'No valid map';
  @return $fallback;
}

@function set-map-key($map,$key,$value) {
  @if map-has-key($map,$key) {
    $map: map-remove($map,$key);
  }

  @return map-merge($map, ($key: $value));
}

// endregion ////////////////////////////////////////////////////////////   End Map Functions